@model IEnumerable<GCD0805App.Models.Course>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Course List</h2>

<p>
    @Html.ActionLink("Create a new Course", "Create", null, new { @class = "btn btn-primary" })
</p>

<div class="form-group">
    @using (Html.BeginForm("Index", "Course", FormMethod.Get))
    {
        <div class="form-group">
            @Html.TextBox("searchString", null, new { @class = "form-control" })
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    }
</div>

<h3>Course</h3>
<table class="table">
    <thead>
        <tr>
            <th scope="col">No.</th>
            <th scope="col">Course Name</th>
            <th scope="col">Category</th>
            <th scope="col">Description</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @{int i = 0;}
        @foreach (var course in Model)
        {
            <tr>
                <th scope="row">@{i++;}@i</th>
                <td>@course.Name</td>
                <td>@course.Category.Name</td>
                <td>@course.Description</td>
                <td>
                    @Html.ActionLink("Details", "Details", "Course", new { id = course.Id }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Edit", "Edit", "Course", new { id = course.Id }, new { @class = "btn btn-success" })
                    @Html.ActionLink("Delete", "Delete", "Course", new { id = course.Id }, new { @class = "btn btn-danger" })

                    @Html.ActionLink("Assign Trainer", "AddTrainers", "Course", new { id = course.Id }, new { @class = "btn btn-primary" })

                    @Html.ActionLink("Asign Trainee", "AddTrainees", "Course", new { id = course.Id }, new { @class = "btn btn-primary" })
                </td>
            </tr>
        }
    </tbody>
</table>